{{#each burger}}
{{#unless devoured}}
<p>{{burger_name}}<button id="devoureIt" type="submit">devoure it!</button></p>
{{/unless}}
{{/each}}

{{#each burger}}
{{#if devoured}}
<p><del>{{burger_name}}</del></p>
{{/if}}
{{/each}}

<form>
    <textarea name="burger" id="burgerName" cols="30" rows="10"></textarea>
    <button id="submit" type="submit">submit</button>
</form>

<script>
    $("#submit").on("click", function (event) {
        event.preventDefault();

        const burgerName = { burgerName: $("#burgerName").val() };

        $.ajax("/api/burger", {
            type: "POST",
            data: burgerName
        });
        location.reload();
    })
</script>